@font-face {
  font-family: "Micro 5";
  src: url("/fonts/Micro5-Regular.woff2") format("woff2"),
    url("/fonts/Micro5-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: none; /* Disable font smoothing for pixel fonts */
  -moz-osx-font-smoothing: grayscale; /* Disable font smoothing for pixel fonts */
}
